

@mixin dFlex($fflow: row wrap, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-flow: $fflow;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

.section-wrapper{
  min-height: 80dvh;
  @include dFlex($jc: space-between, $ai: flex-start);

  .section-one, .section-two{
   width: 45%;
  }
}


@media (max-width: 900px) {
  .section-wrapper {
    @include dFlex($fflow: column wrap, $jc: space-between, $ai: center, $g:4rem);
    align-content: center;
    max-width: 100vw;
    margin: 0;

.section-one,.section-two {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .section-wrapper {
    flex-flow: column wrap;
    align-content: center;
    gap: 8rem;
  }
}