<section class="section-wrapper">
  <app-info-card class="section-one" [subtitle]="'contactSection.subtitle' | translate"
    [title]="'contactSection.title' | translate" bgcolor="transparent" border="none" padding="0">
    <p class="bold-accent-color" [innerHTML]="'contactSection.boldText' | translate"></p><br>
    <p [innerHTML]="'contactSection.description' | translate"></p><br>
    <p [innerHTML]="'contactSection.callToAction' | translate"></p>
  </app-info-card>

  <app-contactform class="section-two"></app-contactform>
</section>
