.wrapper-info-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  opacity: 0;
  transform: translateX(var(--translate-x, -100px));
  transition: opacity 0.8s ease, transform 1s ease;

  &.animate {
    opacity: 1;
    transform: translateX(0);
  }

  > .info-card-title{
    h2{
      line-height: normal;
        }
  }

  > .info-card-subtitle {
    font-family: 'Karla';
    font-size: 24px;
    color: var(--accent-color);
  }

  > .info-card {
    max-width: var(--maxwidth, 550px);
    display: flex;

    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    background: var(--bg-color, rgba(61, 207, 182, 0.1));
    border-radius: 30px;
    border: var(--border, 1px solid #3DCFB6);
    backdrop-filter: blur(2px);
    gap: 28px;
    padding: var(--padding, 2rem);
    color: #e0f2f1;
  }
}




