.wrapper-info-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  >.info-card__subtitle {
    font-family: 'Karla';
    font-size: 24px;
    color: rgba(61, 207, 182, 1);
  }

  >.info-card {
  max-width: var(--maxwidth, 568px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--bg-color, rgba(61, 207, 182, 0.1));
    border-radius: 30px;
    border: var(--border, 1px solid #3DCFB6);
    backdrop-filter: blur(2px);
    gap: 28px;
    padding: var(--padding, 2rem);
    color: #e0f2f1;

    >.info-card__title {
      font-family: 'Fira Code', monospace;
      font-weight: 700;
      font-size: 64px;
      color: rgba(61, 207, 182, 1);
    }
  }
}
