.gallery{
 width: 900px;
 display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE und Edge Legacy */
  transition: transform 0.5s ease;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge (Chromium) */
  }

 div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;
  flex: none;

  img{
   width: 100%;

   &:hover{
    transform: scale(1.1);
    cursor: pointer;
   }
  }
 }
}


.gallery-wrap{
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10% auto;
}

#backBtn, #nextBtn{
 width: 50px;
 margin: 40px;
}