<div class="gallery-wrap">
  <button (click)="scrollLeft()">←</button>
  <div class="gallery" #scrollContainer>
    <div>
      <span><img src="images/projects/Angular.svg" alt=""></span>
      <span><img src="images/projects/HTML.svg" alt=""></span>
      <span><img src="images/projects/CSS.svg" alt=""></span>
    </div>
    <div>
      <span><img src="images/projects/Angular.svg" alt=""></span>
      <span><img src="images/projects/HTML.svg" alt=""></span>
      <span><img src="images/projects/CSS.svg" alt=""></span>
    </div>
  </div>
  <button (click)="scrollRight()">→</button>
</div>
