<div class="wrapper">
  <section class="about-me">
    <div class="portrai-container"></div>
    <app-info-card subtitle="Who I Am" title="About me">
      <p>
        Hey there, I'm Lukas! Write some information about yourself that is IT
        related. Why are you passionate about coding? What is your source of
        inspiration for improving your programming skills?
      </p>
      <div>
        <div>
          <img src="/images/about_me/Property 1=location_on.svg" alt="" />
          <p>
            Where are you based? Would you be open to working remotely or
            potentially relocating?
          </p>
        </div>
        <div>
          <img src="/images/about_me/Property 1=cognition.svg" alt="" />
          <p>
            Show that you are open-minded. Are you enthusiastic about learning
            new technologies and continually improving your skills?
          </p>
        </div>
        <div>
          <img src="/images/about_me/Property 1=Quality.svg" alt="" />
          <p>
            A brief description of your problem-solving approach. Do you learn
            from each challenge as you search for the most efficient or elegant
            solution? You can include some keywords like: analytical thinking,
            creativity, persistence and collaboration.
          </p>
        </div>
      </div>
    </app-info-card>
  </section>
</div>
