.custom-button {
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  font-family: 'Karla';
  font-weight: 400;

  &:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }

  .text-wrapper {

    display: inline-flex;
    white-space: nowrap;
    will-change: transform;
    min-width: 389%; //TODO: dynamisch machen
  }

  .text {
    cursor: pointer;
    display: inline-block;
  }

  .gap {
    display: inline-block;
    width: 4rem;
  }

  &:hover .text-wrapper {
    animation: slideLeft 7s linear infinite;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
