<!-- <button class="custom-button" [ngStyle]="{ 'max-width': maxWidth }">
  <span class="text-wrapper">
    <span class="text">{{ text }}</span>
    <span class="gap"></span>
    <span class="text">{{ text }}</span>
  </span>
</button> -->

<!-- 
<div class="box-1">
  <div class=" btn btn-one">
    <span>{{text}}</span>
  </div>
</div> -->


<div class="container">
  @if (btnHref) {
  <a href="{{btnHref}}">
    <div class="btn btn-two">
      {{ text | translate }}
    </div>
  </a>
  } @else {
  <button type="{{buttonType}}" class="btn btn-two">{{ text | translate }}</button>
  }
</div>
