<div class="skill-icons">
  <figure>
    <img src="images/skill-icons/HTML.svg" width="45" alt="HTML Logo" />
    <figcaption>HTML</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/CSS.svg" width="45" alt="CSS Logo" />
    <figcaption>CSS</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/JavaScript.svg" width="45" alt="JavaScript Logo" />
    <figcaption>JavaScript</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/Material Design.svg" width="45" alt="Material DesignLogo" />
    <figcaption>Material<br />Design</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/TypeScript.svg" width="45" alt="TypeScript Logo" />
    <figcaption>TypeScript</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/Angular.svg" width="45" alt="Angular Logo" />
    <figcaption>Angular</figcaption>
  </figure>

  <figure>
    <img src="images/skill-icons/Firebase.svg" width="45" alt="Firebase Logo" />
    <figcaption>Firebase</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/Git.svg" width="45" alt="Git Logo" />
    <figcaption>Git</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/Rest-Api.svg" width="45" alt="Rest-Api Logo" />
    <figcaption>Rest-Api</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/wordpress.svg" width="45" alt="Wordpress Logo" />
    <figcaption>Wordpress</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/figma.svg" width="45" alt="Figma Logo" />
    <figcaption>Figma</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/adobe_photoshop.svg" width="45" alt="Photoshop Logo" />
    <figcaption>Photoshop</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/adobe_illustrator.svg" width="45" alt="Illustrator Logo" />
    <figcaption>Illustrator</figcaption>
  </figure>
  <figure>
    <img src="images/skill-icons/adobe_indesign.svg" width="45" alt="InDesign Logo" />
    <figcaption>InDesign</figcaption>
  </figure>

  <!-- TOOLTIPP -->
  <div class="tooltip-container">
    <div class="tooltip">
      <p>I have a special interest in learning</p>
      <div class="icons">
        <figure class="tech">
          <img src="images/skill-icons/React.svg" width="30px" alt="React Logo" />
          <figcaption>React</figcaption>
        </figure>
        <figure class="tech">
          <img src="images/skill-icons/Vue_Js.svg" width="30px" alt="Vue Js" />
          <figcaption>Vue JS</figcaption>
        </figure>
        <figure class="tech">
          <img src="images/skill-icons/spline.png" width="30px" alt="Spline Logo" />
          <figcaption>Spline</figcaption>
        </figure>
      </div>
      <div class="arrow"></div>
    </div>
    <!-- TOOLTIPP END -->
    <figure>
      <img src="images/skill-icons/GrowthMindset.svg" width="45" alt="Growth Mindset Logo" />
      <figcaption>Growth<br />mindset</figcaption>
    </figure>
  </div>
</div>
