.skill-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 2rem 3rem;
  max-height: 500px;
}

.skill-icons > figure,
.skill-icons > .tooltip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.skill-icons img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.skill-icons img:hover {
  transform: scale(1.2);
}

.tooltip-container {
  position: relative;

  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #3dcfb6;
    color: #3dcfb6;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
    min-width: max-content;

    .icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 0.5rem;

      .tech {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
      }
    }

    .arrow {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white;
    }
  }

  figure {
    figcaption {
      font-family: 'Fira Code', monospace;
    }
  }

  &:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 768px) {
  .skill-icons {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-height: fit-content;
  }

  .tooltip-container .tooltip {
    font-size: 0.8rem;

    .icons {
      flex-direction: column;
      gap: 0.5rem;

      .tech img {
        width: 25px;
      }
    }
  }
}
