<div class="skill-icons">
  <figure>
    <img src="/images/skill-icons/Property 1=HTML.svg" width="64" alt="HTML Logo" />
    <figcaption>HTML</figcaption>
  </figure>
  <figure>
    <img src="/images/skill-icons/Property 1=CSS.svg" width="64" alt="CSS Logo" />
    <figcaption>CSS</figcaption>
  </figure>
  <figure>
    <img src="/images/skill-icons/Property 1=JavaScript.svg" width="64" alt="JavaScript Logo" />
    <figcaption>JavaScript</figcaption>
  </figure>
  <figure>
    <img
      src="/images/skill-icons/Property 1=Material Design.svg"
      width="64"
      alt="Material DesignLogo"
    />
    <figcaption>Material<br />Design</figcaption>
  </figure>
  <figure>
    <img src="/images/skill-icons/Property 1=TypeScript.svg" width="64" alt="TypeScript Logo" />
    <figcaption>TypeScript</figcaption>
  </figure>
  <figure>
    <img src="/images/skill-icons/Property 1=Angular.svg" width="64" alt="Angular Logo" />
    <figcaption>Angular</figcaption>
  </figure>

  <figure>
    <img src="/images/skill-icons/Property 1=Firebase.svg" width="64" alt="Firebase Logo" />
    <figcaption>Firebase</figcaption>
  </figure>
  <figure>
    <img src="/images/skill-icons/Property 1=Git.svg" width="64" alt="Git Logo" />
    <figcaption>Git</figcaption>
  </figure>
  <figure>
    <img src="/images/skill-icons/Property 1=Rest-Api.svg" width="64" alt="Rest-Api Logo" />
    <figcaption>Rest-Api</figcaption>
  </figure>
  <figure>
    <img src="/images/skill-icons/Property 1=Scrum.svg" width="64" alt="Scrum Logo" />
    <figcaption>Scrum</figcaption>
  </figure>

  <!-- TOOLTIPP -->
  <div class="tooltip-container">
    <div class="tooltip">
      <p>I have a special interest in learning</p>
      <div class="icons">
        <figure class="tech">
          <img src="/images/skill-icons/React.svg" alt="React Logo" />
          <figcaption>React</figcaption>
        </figure>
        <figure class="tech">
          <img src="/images/skill-icons/Vue Js.svg" alt="Vue Js" />
          <figcaption>Vue JS</figcaption>
        </figure>
      </div>
      <div class="arrow"></div>
    </div>
    <!-- TOOLTIPP END -->
    <figure>
      <img
        src="/images/skill-icons/Property 1=GrowthMindset.svg"
        width="64"
        alt="Growth Mindset Logo"
      />
      <figcaption>Growth<br />mindset</figcaption>
    </figure>
  </div>
</div>
