<header class="header" role="banner">
  <div>
    <div class="languageToggle">
      <app-toggle-language
        [activeLanguage]="language"
        (languageChange)="onLanguageChange($event)"
      ></app-toggle-language>
    </div>

    <nav role="navigation" aria-label="Main Navigation">
      <a href="#about-me">
        <app-hover-dot dotPosition="below" color="var(--accent-color)">About me</app-hover-dot>
      </a>
      <a href="#skills">
        <app-hover-dot dotPosition="below" color="var(--accent-color)">Skills</app-hover-dot>
      </a>
      <a href="#portfolio">
        <app-hover-dot dotPosition="below" color="var(--accent-color)">Portfolio</app-hover-dot>
      </a>
    </nav>
  </div>
  <img src="images/logo/Default.svg" alt="Logo Anne Dalchow" />
</header>
