<app-header></app-header>

<section class="section-wrapper privacy-police">
  <h1>{{ 'privacyPolicy.title' | translate }}</h1>
  <hr>
  <section>
    <h2>{{ 'privacyPolicy.privacyOverview.title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.privacyOverview.generalNotes.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.privacyOverview.generalNotes.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.privacyOverview.dataCollection.title' | translate }}</h3>
    <h4>{{ 'privacyPolicy.privacyOverview.dataCollection.responsibility.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.privacyOverview.dataCollection.responsibility.text' | translate }}</p>

    <h4>{{ 'privacyPolicy.privacyOverview.dataCollection.howToCollect.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.privacyOverview.dataCollection.howToCollect.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.privacyOverview.dataCollection.howToCollect.text2' | translate }}</p>

    <h4>{{ 'privacyPolicy.privacyOverview.dataCollection.purposeOfUse.title' | translate }}</h4>
    <p>
      {{ 'privacyPolicy.privacyOverview.dataCollection.purposeOfUse.text1' | translate }}
      {{ 'privacyPolicy.privacyOverview.dataCollection.purposeOfUse.text2' | translate }}
    </p>

    <h4>{{ 'privacyPolicy.privacyOverview.dataCollection.yourRights.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.privacyOverview.dataCollection.yourRights.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.privacyOverview.dataCollection.yourRights.text2' | translate }}</p>

    <h3>{{ 'privacyPolicy.privacyOverview.analyticsAndThirdPartyTools.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.privacyOverview.analyticsAndThirdPartyTools.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.privacyOverview.analyticsAndThirdPartyTools.text2' | translate }}</p>
    <h2>{{ 'privacyPolicy.hosting.title' | translate }}</h2>
    <p>{{ 'privacyPolicy.hosting.intro' | translate }}</p>
    <h3>{{ 'privacyPolicy.hosting.providerName' | translate }}</h3>
    <p>
      {{ 'privacyPolicy.hosting.details' | translate: {allInklPrivacyLink: 'https://all-inkl.com/datenschutzinformationen/'} }}
    </p>
    <p>{{ 'privacyPolicy.hosting.legalBasis' | translate }}</p>
    <h4>{{ 'privacyPolicy.hosting.dataProcessingAgreement.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.hosting.dataProcessingAgreement.text' | translate }}</p>

    <h2>{{ 'privacyPolicy.generalInformation.title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.generalInformation.dataProtection.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.dataProtection.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.generalInformation.dataProtection.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.generalInformation.dataProtection.text3' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.responsibleBody.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.responsibleBody.intro' | translate }}</p>
    <p>
      {{ 'privacyPolicy.generalInformation.responsibleBody.name' | translate }}<br />
      {{ 'privacyPolicy.generalInformation.responsibleBody.address1' | translate }}<br />
      {{ 'privacyPolicy.generalInformation.responsibleBody.address2' | translate }}
    </p>
    <p>
      {{ 'privacyPolicy.generalInformation.responsibleBody.phone' | translate }}<br />
      {{ 'privacyPolicy.generalInformation.responsibleBody.email' | translate }}
    </p>
    <p>{{ 'privacyPolicy.generalInformation.responsibleBody.definition' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.storageDuration.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.storageDuration.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.legalBases.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.legalBases.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.thirdCountryDataTransfer.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.thirdCountryDataTransfer.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.generalInformation.thirdCountryDataTransfer.text2' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.dataRecipients.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.dataRecipients.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.withdrawalOfConsent.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.withdrawalOfConsent.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.rightToObject.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.rightToObject.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.generalInformation.rightToObject.text2' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.rightToComplain.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.rightToComplain.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.rightToDataPortability.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.rightToDataPortability.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.rightToInformationCorrectionDeletion.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.rightToInformationCorrectionDeletion.text' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.rightToRestrictionOfProcessing.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.rightToRestrictionOfProcessing.intro' | translate }}</p>
    <ul>
      <li>{{ 'privacyPolicy.generalInformation.rightToRestrictionOfProcessing.list.item1' | translate }}</li>
      <li>{{ 'privacyPolicy.generalInformation.rightToRestrictionOfProcessing.list.item2' | translate }}</li>
      <li>{{ 'privacyPolicy.generalInformation.rightToRestrictionOfProcessing.list.item3' | translate }}</li>
      <li>{{ 'privacyPolicy.generalInformation.rightToRestrictionOfProcessing.list.item4' | translate }}</li>
    </ul>
    <p>{{ 'privacyPolicy.generalInformation.rightToRestrictionOfProcessing.conclusion' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.sslEncryption.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.sslEncryption.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.generalInformation.sslEncryption.text2' | translate }}</p>

    <h3>{{ 'privacyPolicy.generalInformation.objectionToAdEmails.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.generalInformation.objectionToAdEmails.text' | translate }}</p>

    <h2>{{ 'privacyPolicy.dataCollection.title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.dataCollection.emailPhoneFax.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.dataCollection.emailPhoneFax.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.dataCollection.emailPhoneFax.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.dataCollection.emailPhoneFax.text3' | translate }}</p>

    <h3>{{ 'privacyPolicy.dataCollection.googleSearchConsole.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.dataCollection.googleSearchConsole.intro' | translate }}</p>
    <h4>{{ 'privacyPolicy.dataCollection.googleSearchConsole.dataProcessed.title' | translate }}</h4>
    <ul>
      <li>{{ 'privacyPolicy.dataCollection.googleSearchConsole.dataProcessed.item1' | translate }}</li>
      <li>{{ 'privacyPolicy.dataCollection.googleSearchConsole.dataProcessed.item2' | translate }}</li>
    </ul>
    <h4>{{ 'privacyPolicy.dataCollection.googleSearchConsole.purpose.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataCollection.googleSearchConsole.purpose.text' | translate }}</p>
    <h4>{{ 'privacyPolicy.dataCollection.googleSearchConsole.legalBasis.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataCollection.googleSearchConsole.legalBasis.text' | translate }}</p>
    <h4>{{ 'privacyPolicy.dataCollection.googleSearchConsole.dataDisclosure.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.dataCollection.googleSearchConsole.dataDisclosure.text' | translate }}</p>
    <h4>{{ 'privacyPolicy.dataCollection.googleSearchConsole.moreInformation.title' | translate }}</h4>
    <p>
      {{ 'privacyPolicy.dataCollection.googleSearchConsole.moreInformation.text' | translate: {googlePrivacyLink: 'https://policies.google.com/privacy'} }}
    </p>

    <h2>{{ 'privacyPolicy.pluginsAndTools.title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.pluginsAndTools.googleFontsLocal.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.pluginsAndTools.googleFontsLocal.text1' | translate }}</p>
    <p>
      {{ 'privacyPolicy.pluginsAndTools.googleFontsLocal.text2' | translate: {googleFontsFaqLink: 'https://developers.google.com/fonts/faq', googlePrivacyLink: 'https://policies.google.com/privacy?hl=de'} }}
    </p>

    <h3>{{ 'privacyPolicy.pluginsAndTools.fontAwesome.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.pluginsAndTools.fontAwesome.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.pluginsAndTools.fontAwesome.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.pluginsAndTools.fontAwesome.text3' | translate }}</p>
    <p>
      {{ 'privacyPolicy.pluginsAndTools.fontAwesome.text4' | translate: {fontAwesomePrivacyLink: 'https://fontawesome.com/privacy'} }}
    </p>

    <br><br>
    <p>{{ 'privacyPolicy.source' | translate: {eRecht24Link: 'https://www.e-recht24.de'} }}</p>
  </section>

</section>
