.input-wrapper {
  position: relative;
  width: 100%;
}

.floating-warning {
  position: absolute;
  left: 0;
  top: 85%;
  font-size: 0.95rem;
  color: rgba(236, 123, 123, 0.9);
  z-index: 2;
  pointer-events: none;
}
.contactform-container {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  form {
    width: 100%;
  }

  .input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >div {
      width: 100%;
      border-bottom: 1px solid rgba(61, 207, 182, 0.5);
      padding: 1rem;
    }

    >div:first-child {
      border-top: 1px solid rgba(61, 207, 182, 0.5);
    }
  }

  .submit-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    div {
      display: flex;
      flex-flow: column nowrap;
      gap: 8px;

      div {
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;

        p {
          font-family: 'Karla', sans-serif;
          font-size: 15px;
          text-align: left;

          .accent-color {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.name,
.email,
.message {
  display: flex;
  flex-flow: column;
  font-family: 'Fira Code';
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--accent-color);

  input::placeholder,
  textarea::placeholder {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
  }

  input:focus,
  textarea:focus {
    border: none;
    outline: none;
  }

  input,
  textarea {
    background: transparent;
    border: none;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: whitesmoke;
    padding: 4px;
    margin: 1rem 0;
  }
}

.message textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked~.checkmark:after {
      display: block;
    }
  }

  &:hover input~.checkmark {
    background-color: rgba(60, 207, 183, 0.3);
  }
}

.checkmark {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eeeeee00;
  border: 1px solid var(--accent-color);

  &:after {
    content: "";
    position: absolute;
    display: none;
  }

  &:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--accent-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.warning,
.error-message {
  color: rgba(236, 123, 123, 0.8);
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}

.success-message {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  opacity: 1;
  transform: translateY(-20px);
  animation: slide-in-out 2.5s ease;
}

@keyframes slide-in-out {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  10% {
    opacity: 1;
    transform: translateY(-20px);
  }

  80% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.container {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  color: white;
  background-color: transparent;
  border: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  transition: all 0.3s;
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before,
.btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

button[disabled],
.btn-two:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 3s;
  border: 1px solid var(--accent-color);
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 4s;
  border: 1px solid var(--accent-color);
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 50px;
  width: 50px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}