$card-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$gradient-mask: linear-gradient(to right,
  transparent,
  black 10vw,
  black calc(100% - 10vw),
  transparent);

.testimonial-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
  overflow: hidden;

  .title-container {
    position: relative;
    max-width: 650px;
    width: 57%;
    min-width: 100px;

    @media(max-width:735px) {
      width: 100%;
      max-width: 400px;
    }
  }

  h3 {
    padding: 0 1rem;
    text-align: center;
  }

  .quotes {
    position: absolute;
    z-index: 100;
    top: 8vh;
    left: 0;
    width: clamp(5rem, 10vw, 10rem);
    max-width: 100px;
    height: auto;

    @media(max-width: 735px) {
      top: calc(6vh + 2rem);
    }

    @media(max-height: 800px) and (min-width: 736px) {
      top: calc(5vh + 2rem);
    }

    @media(max-height: 850px) and (max-width: 375px) {
      top: calc(10vh + 2rem);
    }
  }
}

.slider-wrapper {
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  mask-image: $gradient-mask;
}

.slider {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 400px;
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: $gradient-mask;
  mask-image: $gradient-mask;

  .slide {
    position: absolute;
    transition: transform $card-transition, opacity $card-transition;

    &.slide-center {
      left: 50%;
      transform: translate(-50%) scale(1.2);
      opacity: 1;
    }

    &.slide-left {
      left: 50%;
      transform: translate(-180%);
      opacity: 0.75;
    }

    &.slide-right {
      left: 50%;
      transform: translate(80%);
      opacity: 0.75;
    }

    &.slide-far-left {
      left: 50%;
      transform: translate(-200%);
      opacity: 0;
    }

    &.slide-far-right {
      left: 50%;
      transform: translate(200%);
      opacity: 0;
    }

    &.slide-out-of-view {
      opacity: 0;
    }
  }
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  .prev,
  .next {
    cursor: pointer;
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(0) saturate(100%) invert(76%) sepia(20%) saturate(1108%) hue-rotate(118deg) brightness(86%) contrast(103%);
    }
  }
}

.dots-container {
  display: flex;
  gap: 0.5rem;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active,
    &:hover {
      background-color: var(--accent-color);
    }
  }
}
