<section class="section-wrapper">
  <div class="section-one">
    <div class="portrait-container" (mouseenter)="activateOnce()" [class.active]="isActivated">
      <img class="portrait-img" src="images/about_me/portrai.png" alt="Porträt von mir" />
    </div>
    <div class="portrait-bg" [class.visible]="isActivated"></div>
  </div>
  <app-info-card class="section-two" subtitle="about.subtitle" title="about.title" translateX="100px">
    <p class="intro" [innerHTML]="'about.intro' | translate">
    </p>
    <div class="description">
      <div>
        <img src="images/about_me/location_on.svg" alt="" />
        <p>{{ 'about.location' | translate }}</p>
      </div>
      <div>
        <img src="images/about_me/cognition.svg" alt="" />
        <p>{{ 'about.learning' | translate }}</p>
      </div>
      <div>
        <img src="images/about_me/Quality.svg" alt="" />
        <p>{{ 'about.creativity' | translate }}</p>
      </div>
    </div>
  </app-info-card>
</section>
