@mixin dFlex($fflow: row wrap, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-flow: $fflow;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin dFlexShort($fflow: row wrap, $g: 0px) {
  display: flex;
  flex-flow: $fflow;
  gap: $g;
}

.section-wrapper {
  @include dFlex($jc: space-between, $ai: flex-end);
  min-height: 100dvh;

  .section-one {
    width: 35%;
  }

  .section-two {
    width: 50%;
  }
}

.section-one {
  align-self: center;
  position: relative;
  overflow: visible;


  .portrait-container {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .portrait-bg {
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 100%;
    height: 100%;

    background: url('./../../../../public/images/about_me/avatar-hover-bg.png') center/cover no-repeat;
    border-radius: 30px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;

    &.visible {
      opacity: 1;
    }
  }

  .portrait-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(1);
    transition: filter 0.3s ease;

    &:hover {
      filter: grayscale(0.2);
    }
  }
}

.section-two {

  .intro {
    margin-bottom: 2rem;
  }

  .description {
    @include dFlexShort($fflow: column nowrap, $g: 16px);

    >div {
      @include dFlexShort($fflow: row nowrap, $g: 24px);
    }
  }
}

@media(max-width: 912px) {
  .section-wrapper {
    min-height: fit-content;
  }
}

@media (max-width: 900px) {
  .section-wrapper {
    @include dFlex($fflow: column wrap, $jc: space-between, $ai: center, $g:4rem);
    align-content: center;
    max-width: 100vw;
    margin: 0;

    .section-one,
    .section-two {
      max-width: 100%;
      width: fit-content;
    }
  }
}

@media (max-width: 768px) {
  .section-wrapper {
    @include dFlex($g:8rem);
    margin-top: 4rem;
  }
}