<section class="hero">
  <app-marquee></app-marquee>
  <app-header></app-header>
  <div class="hero-content">
    <p>Frontend Developer</p>
    <div>
      <h1>Anne Dalchow</h1>
      <div>
        <app-slide-button text="Check my work" btnHref="#portfolio"></app-slide-button>
        <app-slide-button text="Contact me" btnHref="#contact"></app-slide-button>
      </div>
    </div>
    <a href="#about-me" class="left-lateral">
      <button class="vertical-button">
        <svg viewBox="0 0 30 48" width="30" height="48">
          <rect class="rect" x="0" y="0" width="30" height="48" rx="15" fill="rgb(41, 41, 41,0)" />
          <g class="arrow">
            <line x1="15" y1="12" x2="15" y2="28" stroke="white" stroke-width="2" />
            <polygon points="11,28 19,28 15,34" fill="white" />
          </g>
        </svg>
      </button>

      <div class="line"></div>
    </a>

    <div class="right-lateral">
      <p>anne.dalchow(at)web.de</p>
      <app-hover-dot dotPosition="right" color="var(--accent-color)">
        <img class="social-media-icons" src="images/sides/GitHub.svg" alt="GitHub Icon" />
      </app-hover-dot>

      <app-hover-dot dotPosition="right" color="var(--accent-color)">
        <img class="social-media-icons" src="images/sides/Linkedin.svg" alt="LinkedIn Icon" />
      </app-hover-dot>
      <div class="line"></div>
    </div>
  </div>
</section>
