@mixin dFlex($fflow: row wrap, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-flow: $fflow;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

.projects-container {
  position: relative;
  width: 100%;
  height: max-content;
  @include dFlex($fflow: row nowrap, $jc:space-between);

  .title-container {
    cursor: pointer;
    @include dFlex($jc:space-between);
    width: 880px;
    padding: 40px 32px;
    border-bottom: 1px solid var(--accent-color);

    div {
      @include dFlex($g:8px);
    }

    h3 {
      font-family: 'Fira Code';
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
    }

    img {
      transform: rotate(-45deg);
      opacity: 0;
    }
  }

  &:hover {
    .title-container {
      background: rgba(61, 207, 182, 0.3);
      cursor: pointer;

      img {
        opacity: 1;
        animation: rotate 500ms ease-in-out;

        @keyframes rotate {
          from {
            rotate: 45deg;
          }

          to {
            rotate: 0deg;
          }
        }
      }
    }

    .preview-img-container img {
      opacity: 1;
    }
  }

  .preview-img-container {
    .img-bg-hover {
      z-index: 0;
      opacity: 0;
      position: absolute;
      right: -15px;
      bottom: -15px;
      transition: opacity 400ms ease-in-out;
    }

    img {
      z-index: 2;
      opacity: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      transition: opacity 300ms ease-in-out;
    }
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;

  .inner-modal-container {
    background: rgb(11, 69, 58);
    background: linear-gradient(45deg, rgb(20, 20, 20) 40%, rgba(11, 69, 58, 1) 100%);
    @include dFlex($fflow: row nowrap, $jc:space-between);
    max-width: 90%;
    width: 65%;
    padding: 4rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    border-radius: 30px;
    border: 1px solid var(--accent-color);
  }

  .project-text {
    max-width: 500px;
    @include dFlex($fflow: column wrap, $ai: flex-start, $g:2rem);

    .headlines {
      @include dFlex($fflow: column wrap, $ai: flex-start);

      h2 {
        font-size: 128px;
        line-height: 100px;
      }

      h3 {
        font-size: 64px;
      }
    }

    .tech-stack-images {
      @include dFlex($jc: flex-start, $g: 1rem);

      >div {
        @include dFlex($g: 0.25rem);
      }
    }

    .link-btns {
      @include dFlex($jc: flex-start, $g: 1.5rem);
    }

  }

  .project-img-container {
    @include dFlex($fflow:column nowrap, $jc:space-between, $ai: flex-end, $g: 2rem);

    .close-icon {
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);

        path {
          fill: var(--accent-color);
        }
      }
    }

    .project-img {
      border-radius: 30px;
      max-width: 100%;
      min-width: 300px;
    }
  }
}


#nextProject {
  @include dFlex($g: 8px);
  background-color: transparent;
  border: none;
  color: #3CCFB6;

  img {
    transition: all 1s ease;
  }

  &:hover {
    color: white;

    >img {
      transform: translateX(20px);
    }
  }
}
