<section class="section-wrapper">
  <app-info-card class="info-card first-item" subtitle="portfolio.subtitle" title="portfolio.title" maxwidth="880px"
    bgcolor="transparent" border="none" padding="0">
    <p [innerHTML]="'portfolio.intro' | translate "></p>
  </app-info-card>

  @for (project of projectlistdata.projectlist; track $index) {
  <app-singleproject class="singleproject" [project]="project" (openModal)="showModal(project)">
  </app-singleproject>
  }

  @if (isModalVisible && selectedProject) {
  <app-singleproject [project]="selectedProject" [isModalVisible]="isModalVisible" (closeModal)="hideModal()"
    (nextProjectRequest)="loadNextProject()">
  </app-singleproject>
  }
</section>
