<section class="portfolio">
  <app-info-card class="info-card" subtitle="Portfolio" title="Featured Projects" maxwidth="880px" bgcolor="transparent"
    border="none" padding="0">
    <p>
      Explore a selection of my work here - <br />
      Interact with projects to see my skills in action.
    </p>
  </app-info-card>

  @for (project of projectlistdata.projectlist; track $index) {
  <app-singleproject class="singleproject" [project]="project" (openModal)="showModal(project)">
  </app-singleproject>
  }

  @if (isModalVisible) {
  <app-singleproject [project]="selectedProject" [isModalVisible]="isModalVisible" (closeModal)="hideModal()"
    (nextProjectRequest)="loadNextProject()">
  </app-singleproject>
  }
</section>
