@mixin dFlex($fflow: row wrap, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-flow: $fflow;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

.section-wrapper {
  @include dFlex($fflow: column wrap, $jc:flex-start, $ai:flex-start);
  height: fit-content;

  .first-item {
    margin-bottom: 2rem;
  }

  .info-card,
  .singleproject {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .section-wrapper {
    @include dFlex($fflow: column wrap, $jc: space-between, $ai: center, $g: 0rem);
    align-content: center;
    max-width: 100%;
    width: auto;
    margin: 0;

    .section-one,
    .section-two {
      max-width: 100%;
      width: fit-content;
    }
  }
}
