.cursor-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 9rem;
  height: 9rem;
  pointer-events: none;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 128, 128, 0.6) 0%, transparent 70%);
  filter: blur(20px);
  z-index: 9999;
  transform: translate(50%, 100%);
  transition: transform 0.05s linear;
}