<app-header></app-header>
<section class="section-wrapper imprint">
  <h1>{{ 'imprint.headline' | translate }}</h1>
  <hr />

  <section>
    <h2>{{ 'imprint.sectionOneTitle' | translate }}</h2>
    <p><strong>{{ 'imprint.name' | translate }}</strong></p>
    <p>{{ 'imprint.address' | translate }}</p>

    <h3>{{ 'imprint.representedByTitle' | translate }}</h3>
    <p>{{ 'imprint.representedBy' | translate }}</p>

    <h3>{{ 'imprint.contactTitle' | translate }}</h3>
    <p>
      {{ 'imprint.phone' | translate }}<br />
      {{ 'imprint.email' | translate }}
    </p>

    <h3>{{ 'imprint.contentResponsibilityTitle' | translate }}</h3>
    <p>{{ 'imprint.contentResponsibility' | translate }}</p>

    <h2>{{ 'imprint.disclaimerTitle' | translate }}</h2>

    <h3>{{ 'imprint.liabilityContentTitle' | translate }}</h3>
    <p><strong>{{ 'imprint.liabilityDisclaimer' | translate }}</strong></p>
    <p>{{ 'imprint.liabilityContent' | translate }}</p>
    <p>{{ 'imprint.liabilityRemoval' | translate }}</p>

    <h3>{{ 'imprint.linkLiabilityTitle' | translate }}</h3>
    <p>{{ 'imprint.linkLiabilityContent' | translate }}</p>
    <p>{{ 'imprint.linkLiabilityCheck' | translate }}</p>

    <h3>{{ 'imprint.copyrightTitle' | translate }}</h3>
    <p>{{ 'imprint.copyrightContent' | translate }}</p>
    <p>{{ 'imprint.copyrightUsage' | translate }}</p>

    <h3>{{ 'imprint.privacyTitle' | translate }}</h3>
    <p>{{ 'imprint.privacyContent' | translate }}</p>
    <p>{{ 'imprint.privacyNote' | translate }}</p>
    <p>{{ 'imprint.privacyObjection' | translate }}</p>
  </section>
</section>
