<footer>
  <div class="logo-container">
    <img src="/images/logo/ad_logo_full.png" alt="Logo Anne Dalchow">
    <div>
      <p>Web Developer</p>
      <p>Leipzig Germany</p>
    </div>
  </div>

  <div class="copyright">
    <p class="accent-color ">&copy; Anne Dalchow 2025</p>
  </div>

  <div class="links">
    <a href="https://github.com/anne-dalchow/" target="_blank">Github</a>
    <a href="www.linkedin.com/in/anne-dalchow" target="_blank">LinkedIn</a>
    <a href="mailto:anne.dalchow@web.de" target="_blank">Email</a>
    <a href="" target="_blank">Legal Notice</a>
  </div>
</footer>
