<div class="marquee">
  <ul class="marquee__content">
    <li>Available for remote work</li>
    <li>&#8226;</li>
    <li>Frontend Developer</li>
    <li>&#8226;</li>
    <li>Based in Leipzig</li>
    <li>&#8226;</li>
    <li>Open to work</li>
    <li>&#8226;</li>
  </ul>

  <ul aria-hidden="true" class="marquee__content">
    <li>Available for remote work</li>
    <li>&#8226;</li>
    <li>Frontend Developer</li>
    <li>&#8226;</li>
    <li>Based in Leipzig</li>
    <li>&#8226;</li>
    <li>Open to work</li>
    <li>&#8226;</li>
  </ul>
</div>
