<div class="marquee">
  <ul class="marquee-content">
    <li>{{ 'marquee.remoteWork' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
    <li>{{ 'marquee.frontend' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
    <li>{{ 'marquee.based' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
    <li>{{ 'marquee.openToWork' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
  </ul>

  <ul aria-hidden="true" class="marquee-content">
    <li>{{ 'marquee.remoteWork' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
    <li>{{ 'marquee.frontend' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
    <li>{{ 'marquee.based' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
    <li>{{ 'marquee.openToWork' | translate }}</li>
    <li>{{ 'marquee.dot' | translate }}</li>
  </ul>
</div>
