<div class="marquee-text fadeout-horizontal">
  <div class="marquee-text-track">
    <p>&#8226;</p>
    <p>Available for remote work</p>
    <p>&#8226;</p>
    <p>Frontend Developer</p>
    <p>&#8226;</p>
    <p>Based in Leipzig</p>
    <p>&#8226;</p>
    <p>Open to work</p>
    <p>&#8226;</p>
    <p aria-hidden="true">Available for remote work</p>
    <p>&#8226;</p>
    <p aria-hidden="true">Frontend Developer</p>
    <p>&#8226;</p>
    <p aria-hidden="true">Based in Leipzig</p>
    <p>&#8226;</p>
    <p aria-hidden="true">Open to work</p>
    <p>&#8226;</p>
  </div>
</div>
