
.marquee {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-3deg);
  bottom: 50px;
  z-index: 10;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1rem;
  background-color: rgba(56, 56, 56, 0.8);
  mask-image: linear-gradient(to right,
    transparent,
    black var(--fade-size, 5rem),
    black calc(100% - var(--fade-size, 5rem)),
    transparent);
}

.marquee-content > * {
  flex: 0 0 auto;
  color: var(--accent-color);
  margin: 2px;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
    overflow: hidden;
}

li{
  list-style: none;
    font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;

}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  min-width: 100%;
  animation: scroll var(--marquee-duration, 20s) linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

@media (max-width: 600px) {
  .marquee {
    --marquee-duration: 15s; 
  }
  li{
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media (max-height:800px){
  li{
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media (max-height:600px){
.marquee{
  display: none;
}
}

@media (min-width: 1700px) {
  .marquee {
    --fade-size: 8rem;
    width: 90vw;
    --marquee-duration: 25s;
  }
}

@media (min-width: 2560px) {
  .marquee {
    --fade-size: 10rem;
    width: 80vw;
  }
}