<div id="bg-skills">
  <div class="wrapper">
    <section class="skills">
      <app-info-card subtitle="Technologies" title="Skill Set" maxwidth="520px">
        <div class="description-wrapper">
          <p>
            A short introduction of your skills. Highlight your experience of using different
            front-end technologies and emphasise your openness to learning and adapting to new
            technologies. Show how important it is for you to keep up with the rapid changes in web
            development.
          </p>
          <div class="description">
            <p>You need <span class="bold-accent">another skill?</span></p>
            <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
          </div>
          <app-slide-button text="Let's Talk" maxWidth="105px"></app-slide-button>
        </div>
      </app-info-card>
      <div class="skill-icon-container">
        <app-skill-icons></app-skill-icons>
      </div>
    </section>
  </div>
</div>
