@use '../../../styles/mixins.scss' as *;

#bg-skills {
  background-image: url('/images/backgrounds/bg_skills.svg');
  background-position: center left;
  background-size: cover;
  padding: 5rem 0;
}

.skills {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  @include dFlex($jc:space-between, $g: 12.5rem);

  >.skill-icon-container{
     flex: 1;
  }
}

  .description-wrapper{
    @include dFlex($fflow: column wrap ,$ai: flex-start, $g: 40px);
}