@import './fonts';

// =========== GLOBAL STYLES ===========

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 18px;
  cursor: default;
}

html {
  font-size: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
}

.font-fira {
  font-family: 'Fira Code', sans-serif;
}

.font-karla {
  font-family: 'Karla', sans-serif;
}

.header {
  font-family: 'Fira Code', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

body {
  background-color: rgba(41, 41, 41, 1);
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

p {
  font-family: 'Karla';
  font-size: 18px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
